<div class="bg-primary-100 p-4 mx-16 my-4 shadow-lg rounded-lg">
  <table class="table-auto w-full">
    <thead class="text-left">
      <tr>
        <th>Categoría</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="text-left w-full">
      @for (product of cart(); track product.id) {
        <tr class="">
          <td class="">{{ product.category }}</td>
          <td class="">{{ product.brand }}</td>
          <td class="">{{ product.model }}</td>
          <td class="">{{ product.price | currency: 'ARS' : 'symbol-narrow' : '1.2-2' }}</td>
          <td class="">{{ product.stock }}</td>
          <td class="">{{ product.quantity }}</td>
          <td class="">
            <button
              matIconButton
              (click)="removeProductFromCart(product.id)"
              class="text-accent-600! hover:text-accent-700! cursor-pointer"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  @if (cart().length === 0) {
    <h2 class="text-2xl font-bold text-center text-primary-500! mt-10">
      No hay productos en el carrito
    </h2>
  }
</div>
