<div class="flex justify-center">
  <button
    routerLink="/add-product"
    class="bg-primary-500 text-white px-4 py-2 rounded-md cursor-pointer m-4"
  >
    Agregar producto
  </button>
</div>

<div class="grid grid-cols-[repeat(auto-fit,minmax(20rem,1fr))] gap-4 p-4">
  @if (error(); as errorMessage) {
    <div class="text-accent-600 text-center text-2xl font-bold">{{ errorMessage }}</div>
  } @else {
    @if (products().length > 0) {
      @for (product of products(); track product.id) {
        <app-product-card [product]="product"></app-product-card>
      }
    } @else {
      <div class="text-accent-600 text-center text-2xl font-bold">No hay productos disponibles</div>
    }
  }
</div>
